.container {
    width: 100%;
    border: 1px solid #d3d3d3;
}

.container div {
    width: 100%;
}

.container .header {
    background-color: #d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}

.container .content {
    display: none;
    padding: 5px;
}

/* News date styling */
.news-date {
    display: inline-block;
    width: 85px;
    color: #7a8288;
    font-size: 0.95em;
}